Blog admin category delete | <a href="{{ url('blog_admin') }}">BACK TO ADMIN INDEX</a>
<br/>
Are you sure want to delete "{{ category.name }}" category?
<br/>
{{ form_start(form) }}
{{ form_widget(form) }}
{{ form_end(form) }}
