Blog admin category view | <a href="{{ url('blog_admin') }}">BACK TO ADMIN INDEX</a>
<br/>
Category name: {{ category.name }} | <a href="{{ url('blog_admin_category', {'category_name': category.name, 'action': 'edit'}) }}">EDIT<a/> | <a href="{{ url('blog_admin_category', {'category_name': category.name, 'action': 'delete'}) }}">DELETE<a/>
<br/>
Posts in category: {{ posts|length }}
<ul>
{% for post in posts %}
<li><a href="{{ url('blog_admin_post', {'post_title': post.title}) }}">{{ post.title }}<a/></li>
{% endfor %}
</ul>
