Blog page {{ page }} | <a href="{{ url('blog_admin') }}">ADMIN PAGE</a> | <a href="{{ url('blog_category') }}">CATEGORIES</a>

<br/>

{% for post in posts %}
<a href="{{ url('blog_post', {post_title: post.title}) }}">{{ post.title }}</a><br/>
{% endfor %}
